
 upstream gogs_app {
    server {{ gogs_app1_ip }}:3000; # Перша віртуалка з додатком
    server {{ gogs_app2_ip }}:3000;
}

server {
    listen 80;

    location / {
        proxy_pass http://gogs_app;
        proxy_set_header Host $host;
        proxy_set_header X-Real-IP $remote_addr;
        proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
        proxy_set_header X-Forwarded-Proto $scheme;
    }
}

